.keyword {
    -fx-fill: #9C27B0;
    -fx-font-weight: bold;
}
.direction {
    -fx-fill: #3F51B5;
    -fx-font-weight: bold;
}
.number {
    -fx-fill: #2196F3;
    -fx-font-weight: bold;
}
.comment {
    -fx-fill: #B0BEC5;
}
.string {
    -fx-fill: #E65100;
}
.paragraph-box:has-caret {
    -fx-background-color: #ECEFF1;
}